*.log
*.log.*
*.pyc
*.tab
out
.idea
*.iml
version.json
/results
/docs/Pulse Icon.png
/docs/gmail.png
/resources/sample_queries/average_chunk_times.xlsx
/.env
/docs/icon.xcf
/docs/Qb.xcf
/docs/Example Data.xlsx
/docs/Paper on Multidimensional Data Models.pdf
/docs/cube.png
/docs/ElasticSearch.docx
/docs/*.xlsx
/active_data/public/images/Sharethis.svg
/docs/*.pptx
/active_data/public/modevlib/.svn
/active_data/public/modevlib/ESQueryRunner.js
/pyLibrary1
/docs/ActiveData Notes.rtf
/resources/jre-8u131-linux-x64.rpm
/*.sqlite
/temp.md
/vendor/pyLibrary/vendor/sqlite
/tuid.db

/*.sqlite-journal
/metadata*
/*.pid
/.coverage
