*.log
*.log.*
*.pyc
*.tab
out
pyLibrary/.svn
.idea
*.iml
*.txt
/pyLibrary/.svn
/results
/docs/Pulse Icon.png
/docs/gmail.png
/resources/sample_queries/average_chunk_times.xlsx
/.env
/docs/icon.xcf
/docs/Qb.xcf
/docs/Example Data.xlsx
/docs/Paper on Multidimensional Data Models.pdf
/docs/cube.png
/docs/*.png
/docs/ElasticSearch.docx
