

span.red {
    background-color: #f47785;
    padding-left:0.2em;
    padding-right:0.2em;
}
span.yellow {
    background-color: #f8d308;
    padding-left:0.2em;
    padding-right:0.2em;
}
span.green {
    background-color: #6eac2c;
    padding-left:0.2em;
    padding-right:0.2em;
}


.index {
    padding:20px;
    border: 1px solid gray;
}

.example {
    background-color: black;
}

.warning {
    border: 5px solid red;
}

.node {
    padding:10px;
    background-color: white;
    border: 3px solid #4d4e53;
}
.slot {
    padding:1px;
    /*border: 1px solid black;*/
}

.slot div div{
    color: black;
    padding-left: 0.2em;
}

.PRIMARY div {
    font-weight: bold;
}

.slot .STARTED {
    background-color: #6eac2c;
}

.slot .RECOVERING {
    background-color: #f8d308;
}

.slot .RELOCATING {
    background-color: #bc87bb;
}

.slot .INITIALIZING {
    background-color: darkgray;

}
