@CHARSET "ISO-8859-1";

@font-face {
    font-family: 'Open Sans';
    src: url('OpenSans-Light-webfont.eot');
    src: url('OpenSans-Light-webfont.eot') format('embedded-opentype'), url('OpenSans-Light-webfont.woff') format('woff'), url('OpenSans-Light-webfont.ttf') format('truetype'), url('./OpenSans-Light-webfont.svgOpenSans-Light-webfont.svg#OpenSansBold') format('svg');
    font-weight: 600
}

@font-face {
    font-family: 'Open Sans Bold';
    src: url('OpenSans-Bold-webfont.eot');
    src: url('OpenSans-Bold-webfont.eot') format('embedded-opentype'), url('OpenSans-Bold-webfont.woff') format('woff'), url('OpenSans-Bold-webfont.ttf') format('truetype'), url('./OpenSans-Bold-webfont.svgOpenSans-Bold-webfont.svg#OpenSansBold') format('svg');
    font-weight: 600
}

html {
    position: relative;
    border-top: 2px solid #fff;
    height: 100%;
    margin: 0px;
    padding: 0px;
    /*background: #f5f1e8 url(../images/bg-sand.png) repeat;*/
    background: url(../images/bg-gradient-sand.png) repeat-x 0 0, url(../images/bg-sand.png) repeat 0 0, #f6f5f1
}

b {
    font-weight: bold;
}



a {
    color: #0096dd;
    text-decoration: none
}

a:hover, a:active {
    color: #0073aa;
    text-decoration: underline
}



a.tabzilla {
    float: right;
    display: block;
    background: url('../images/tab.png');
    background-repeat: no-repeat;
    font-family: 'Open Sans Bold';
    font-size: 25px;
    color: gray;
    text-align: center;
    height: 44px;
    width: 150px;
    position: relative;
    padding-top: 7px;
    text-transform: uppercase;
    /*text-indent: 30px;*/
    overflow: hidden;
    z-index: 999
}

a.tabzilla:hover, a.tabzilla:active {
    color: #0073aa;
    text-decoration: none
}

.description {
    margin-top: 20px;
    margin-bottom: 20px;
}


.widget {
    display:inline;
    float: left;
    text-align: center;
    height: 13em;
    width: 15em;
    clear: both;
    /*padding-top: 2em;*/
    margin: 10px;
    border-radius: 0.5em;
    background: rgba(0, 0, 0, 0.1);
    overflow: hidden;
}


.indent {
	margin-left: 30px;

}


body {
    position: relative;

     /*background: #f9f9f9 url(../images/grain.png) 0 0 repeat-x*/

    /*background-image: -khtml-gradient(linear, left top, left bottom, from(#d7d3c8), to(#f6f4ec));*/
    /*background-image: -moz-linear-gradient(#d7d3c8, #f6f4ec);*/
    /*background-image: -ms-linear-gradient(#d7d3c8, #f6f4ec);*/
    /*background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #d7d3c8), color-stop(100%, #f6f4ec));*/
    /*background-image: -webkit-linear-gradient(#d7d3c8, #f6f4ec);*/
    /*background-image: -o-linear-gradient(#d7d3c8, #f6f4ec);*/
    /*-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#d7d3c8', endColorstr='#f6f4ec', GradientType=0)";*/
    /*background-image: linear-gradient(#d7d3c8, #f6f4ec);*/

    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #444444;
    padding: 0px;
    height: 100%;
    width: 100%;
    line-height: 20px;
    padding-bottom: 40px;
    /*width: 1000px;*/
    margin: 0 auto;
    position: relative

}


.menu {
    font-family: 'Open Sans', sans-serif;
      font-size: 0.8em;
}

.menu li {
    list-style-type: none;
    list-style-position: outside;
    /*margin-left: -15px;*/
    padding: 0pt;
}

.menu .ui-menu-header {
    font-size: 1.4em;
}

.menu .ui-selecting {
    color: #CC4433;
}

.menu .ui-selected {
    color: #4477CC;
    list-style-type: disc;
}

.large {
  font-family: 'Open Sans', sans-serif;
  font-size: 72px;
  letter-spacing: -3px;
  line-height: 100%;
     margin-top: 0;
}
h1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 48px;
  letter-spacing: -2px;
  line-height: 100%;
     margin-top: 0;
  margin-bottom: 12px;
}
h2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 32px;
  letter-spacing: -1px;
  line-height: 100%;
     margin-top: 0;
   margin-bottom: 8px;

}
h3 {
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
  letter-spacing: -0.5px;
  line-height: 100%;
    margin-top: 0;
    /*display:inline;*/
   margin-bottom: 7px;
}
h4 {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
  letter-spacing: -0.25px;
  line-height: 100%;
     margin-top: 0;
   margin-bottom: 6px;
}

mstyle{
	font-size: 1em;
	color: black;
	font-family: 'Open Sans', sans-serif;
}

.small, small {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
  line-height: 100%;
}


.hoverable:hover {
	background-color: #fafaba;
}


.items {
    border-bottom: 1px black solid;
    margin-bottom: 10px;
}

.items .info {
    display: block;
    width: 70%;
    margin-left: 230px;      /*css totally sucks*/
    margin-top: -20px;       /*css totally sucks*/
    margin-bottom: 10px;
}

.items a {
    width: 230px;        /*css totally sucks*/
    height:20px;         /*css totally sucks*/
}

.new {
    border: 2px yellow solid;
    background-image: url(../images/New.gif);
    background-size:67px 45px;
    background-position:right;
    background-repeat:no-repeat;
}

.items .expired {
    color: #888888;
}

.items .expired .info:before{
    content:"EXPIRED - ";
}

.items .expired a {
    width: 230px;        /*css totally sucks*/
    height:20px;         /*css totally sucks*/
    text-decoration: line-through;
    color: #888888;
}


.warning {
    font-family: 'Open Sans', sans-serif;
    font-size:1.0em;
    font-weight: bold;
    color: red;
}

.code {
    font-family: "courier new", sans-serif;
    font-size:1.0em;
    font-weight: bold;
}



.table {
    border-collapse: collapse;
    border-spacing: 0
}

.table th, .table td {
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    padding: 5px 20px 5px 0;
    text-align: left;
}

.table thead th, .table thead td {
    border-top: 0;
    padding-top: 0;
    font-size: 16px;
    font-family: 'Open Sans Light', sans-serif;
    font-weight: normal
}



table.layout, tr, td, tbody, thead {
    border: none;
    margin: 0;
    padding: 0;
}


#chart, .chart {
    width: 800px;
    position: relative;
    border: 1px solid #aaaaaa;
    border-bottom-color: white;
    border-right-color: white;
    margin: -1px;
    background-image: linear-gradient(#f9f8f4, #f6f5f1);

}



/*******************************************************************************
 * DIMENSION SELECTOR
 ******************************************************************************/

.dim-container {
    position: relative;
    overflow: hidden;
    width:100%;
    height:40px;
}

.dim-container .position {
    position: absolute;
    height:40px;
    top:0px;
    margin: 0;
    padding: 0;
    white-space:nowrap;
}


.dim-container .position span {
    display: inline-block;
    border-radius: .25em;
    border: 0;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);

    height:16px;
    background-image: linear-gradient(#3c88cc, #276195);
    margin: 4px 4px 4px 4px;
    padding: 8px 8px;

    color: #fff;
    text-align: center;
    font-size: 16px;
    line-height: 16px;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;

}

.dim-container .position span:hover {
    box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.1), inset 0 -2px 0 0 rgba(0, 0, 0, 0.2), inset 0 -12px 24px -12px #ffffff
}


.dim-container .position span.selected{
    background-image: linear-gradient(#81bc2e, #659324);
    color: #fff;
    text-decoration: none;
}


.dim-addremove {
    width:40px;
    text-align:center;
}





.parameters {
    width: 320px;
    margin-left: auto;
    margin-right: auto;
}

span.parameter_name {
    float: left;
    width: 150px;
    text-align: right;
    margin-right: 10px;
}

span.parameter_value {
    font-weight:bold;
}



span.parameter_value:hover {
    box-shadow: 2px 2px 2px 2px rgb(0,0,0);
}

span.parameter_error {
    color: red;
}

#status {
    color: red;
    text-align: center;
    font:20px arial,sans-serif;
}

#testMessage {
    text-align: center;
    font: 12px arial,sans-serif;
}



/*******************************************************************************
SIDE BAR
*******************************************************************************/


#sidebar {
    /*opacity: .5;*/
    -webkit-transition: all linear .25s;
    -moz-transition: all linear .25s;
    -o-transition: all linear .25s;
    -ms-transition: all linear .25s;
    transition: all linear .25s;
    float: left;
    width: 300px;
    margin: 0 10px;
    margin-left: 20px;
    margin-bottom: 20px;
    min-height: 700px
}

#sidebar:hover, #sidebar.child-focus {
    opacity: 1;
    -webkit-transition: all linear .25s;
    -moz-transition: all linear .25s;
    -o-transition: all linear .25s;
    -ms-transition: all linear .25s;
    transition: all linear .25s
}

#sidebar h2 {
    text-align: center;
    font-size: 24px
}

#sidebar h2 img {
    display: block;
    margin: 0 auto 5px auto
}

#sidebar h2 a {
    color: #484848
}


#sidebar nav {
    text-transform: uppercase;
    font-family: 'Open Sans Light', sans-serif;
    font-weight: normal;
    font-size: 12px;
    margin: 20px auto;
    width: 160px
}

#sidebar nav ul {
    margin: 0
}

#sidebar nav ul li {
    list-style-type: none;
    margin: 0
}

#sidebar nav ul li li {
    display: none
}

#sidebar nav ul li.active {
    display: block;
    background: rgba(255, 255, 255, 0.5)
}

#sidebar nav ul li.active .active {
    background: rgba(255, 255, 255, 0.9)
}

#sidebar nav ul li.active>a:only-child {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAPCAYAAADZCo4zAAAAwklEQVR42nWQPQ9EQBCG/RO7i/tyyf0O1RLRKBQKhUQhEQkirK8Q8ZudkZBzVvFUz8y8MyPM83yJpmnqpTQM4xWGocyVtm0/4jgmeZ6Tk3Rd95amKSnLEgMH6fu+Al2MMbyxyyVPgo66rg+sMkkS0jQNbtsW/SMEQSBXVYW7rkM8YMJatExAfd+f2HfwPE+BzGEY0C+HKxzHuUPcOI7ixukPlmU9i6LA0zSJAPeTuq6rWZaRywKAUvqOokjiyR3TND9fMT8MR5ncz/AAAAAASUVORK5CYII=)
}

#sidebar nav ul li.path>a {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    letter-spacing: -0.02em;
    color: #484848
}

#sidebar nav ul li.active>ul>li {
    display: block
}

#sidebar nav ul li.has-children>a:hover, #sidebar nav ul li.has-children>a:active, #sidebar nav ul li.active.has-children>a {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABkAAAALCAYAAACK9ybzAAABNklEQVR42rWTv2uDQBTHU9tAhg5SSOlQWi+xiWJpLKFQ4u4SF8kgUYhOgoPgpIuLmiGL/4T4H+i/4b/gmMnFURzs3VAoSX8kSofPHe+977vH3XvXa5rm3+nhOI5B+i3ATi4yn88Hw+GQAwAsSJJ8/wukg/oFyju1CFqu0jSlOY57lSSJ0jRt8hMojnRJklAo75wiiEEURYwgCIzjOCPP88Ahtm2Pl8vlcxzHDNKf05OvxjU8bLZarWjXdUfb7Zb4BNmiKNJhGL4g3bmNP3TcmKbJbjabaRAExG63I3zfB4qiTC3LYmEcbzNdR46yLO9kWWYNw3iCtwC6rk9UVWWrqrptO8LfOS/2+/0DfLbZer2mYLPZoijukb9bkWOwLMvGPM+/5XkOkN3lM/4W7Nd1/Qj3y64//gM055yHK3WPawAAAABJRU5ErkJggg==)
}

#sidebar nav a, #sidebar nav b {
    display: block;
    padding: 10px 25px 10px 15px;
    color: #333;
    background-repeat: no-repeat;
    background-position: 100% 50%
}

#sidebar nav li li a, #sidebar nav li li b {
    padding-left: 25px
}

#sidebar nav li li li a, #sidebar nav li li li b {
    padding-left: 35px
}

#sidebar nav b {
    font-weight: normal;
    color: #484848
}

#sidebar nav>ul>li {
    border-top: 1px dotted rgba(0, 0, 0, 0.1)
}

#sidebar nav>ul>li:first-child {
    border-top: 0
}

#sidebar nav>ul>li>a {
    padding-top: 15px;
    padding-bottom: 15px
}

#sidebar nav>ul>li.active:first-child {
    background-color: transparent
}

#sidebar nav>ul>li.active:first-child a:only-child {
    background-image: none
}


/*#teamList ul li {*/
    /*margin-left: 20px;*/
/*}*/



/*******************************************************************************
TOOLBAR
*******************************************************************************/

.toolbutton, .toolbutton:link, .toolbutton:visited {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    -moz-border-radius: 3px;
    border-radius: 3px;
    box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.1), inset 0 -2px 0 0 rgba(0, 0, 0, 0.2);
    background-color: #3c88cc;
    background-color: #276195;
    background-repeat: repeat-x;
    background-image: -khtml-gradient(linear, left top, left bottom, from(#3c88cc), to(#276195));
    background-image: -moz-linear-gradient(#3c88cc, #276195);
    background-image: -ms-linear-gradient(#3c88cc, #276195);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3c88cc), color-stop(100%, #276195));
    background-image: -webkit-linear-gradient(#3c88cc, #276195);
    background-image: -o-linear-gradient(#3c88cc, #276195);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#3c88cc', endColorstr='#276195', GradientType=0)";
    background-image: linear-gradient(#3c88cc, #276195);

    color: #fff;
    text-align: center;
    vertical-align: middle;
    font-size: 14px;
    /*margin: 4px 4px 4px 4px;*/
    padding: 4px 0px 0px 0px;
    height: 36px;
    width: 40px;
    line-height: 20px;
    text-decoration: none;
    border: 0;
    position: absolute;
    /*right: 0;*/
    /*bottom: 0;*/

    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
    font-family: 'Open Sans', sans-serif;
    -webkit-transition: all linear .25s;
    -moz-transition: all linear .25s;
    -o-transition: all linear .25s;
    -ms-transition: all linear .25s;
    transition: all linear .25s
}

.toolbutton:hover, .toolbutton:link:hover, .toolbutton:visited:hover, .toolbutton.hover, .toolbutton:link.hover, .toolbutton:visited.hover, .toolbutton:focus, .toolbutton:link:focus, .toolbutton:visited:focus, .toolbutton.focus, .toolbutton:link.focus, .toolbutton:visited.focus {
    -webkit-box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.1), inset 0 -2px 0 0 rgba(0, 0, 0, 0.2), inset 0 12px 24px 2px #3089d8;
    -moz-box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.1), inset 0 -2px 0 0 rgba(0, 0, 0, 0.2), inset 0 12px 24px 2px #3089d8;
    box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.1), inset 0 -2px 0 0 rgba(0, 0, 0, 0.2), inset 0 12px 24px 2px #3089d8;
    color: #fff;
    text-decoration: none;
    -webkit-transition: all linear .25s;
    -moz-transition: all linear .25s;
    -o-transition: all linear .25s;
    -ms-transition: all linear .25s;
    transition: all linear .25s
}

.toolbutton:focus, .toolbutton:link:focus, .toolbutton:visited:focus, .toolbutton.focus, .toolbutton:link.focus, .toolbutton:visited.focus {
    outline-color: #484848
}


.smalltoolbutton, .smalltoolbutton:link, .smalltoolbutton:visited {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.1), inset 0 -2px 0 0 rgba(0, 0, 0, 0.2);
    background-color: #3c88cc;
    background-color: #276195;
    background-repeat: repeat-x;
    background-image: -khtml-gradient(linear, left top, left bottom, from(#3c88cc), to(#276195));
    background-image: -moz-linear-gradient(#3c88cc, #276195);
    background-image: -ms-linear-gradient(#3c88cc, #276195);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3c88cc), color-stop(100%, #276195));
    background-image: -webkit-linear-gradient(#3c88cc, #276195);
    background-image: -o-linear-gradient(#3c88cc, #276195);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#3c88cc', endColorstr='#276195', GradientType=0)";
    background-image: linear-gradient(#3c88cc, #276195);

    color: #fff;
    text-align: center;
    vertical-align: middle;
    font-size: 14px;
    /*margin: 4px 4px 4px 4px;*/
    padding: 2px 0px 0px 0px;
    height: 20px;
    width: 20px;
    line-height: 10px;
    text-decoration: none;
    border: 0;
    right: 0;
    bottom: 0;

    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
    font-family: 'Open Sans', sans-serif;
    -webkit-transition: all linear .25s;
    -moz-transition: all linear .25s;
    -o-transition: all linear .25s;
    -ms-transition: all linear .25s;
    transition: all linear .25s
}

.smalltoolbutton:hover, .smalltoolbutton:link:hover, .smalltoolbutton:visited:hover, .smalltoolbutton.hover, .smalltoolbutton:link.hover, .smalltoolbutton:visited.hover, .smalltoolbutton:focus, .smalltoolbutton:link:focus, .smalltoolbutton:visited:focus, .smalltoolbutton.focus, .smalltoolbutton:link.focus, .smalltoolbutton:visited.focus {
    -webkit-box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.1), inset 0 -2px 0 0 rgba(0, 0, 0, 0.2), inset 0 12px 24px 2px #3089d8;
    -moz-box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.1), inset 0 -2px 0 0 rgba(0, 0, 0, 0.2), inset 0 12px 24px 2px #3089d8;
    box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.1), inset 0 -2px 0 0 rgba(0, 0, 0, 0.2), inset 0 12px 24px 2px #3089d8;
    color: #fff;
    text-decoration: none;
    -webkit-transition: all linear .25s;
    -moz-transition: all linear .25s;
    -o-transition: all linear .25s;
    -ms-transition: all linear .25s;
    transition: all linear .25s
}

.smalltoolbutton:focus, .smalltoolbutton:link:focus, .smalltoolbutton:visited:focus, .smalltoolbutton.focus, .smalltoolbutton:link.focus, .smalltoolbutton:visited.focus {
    outline-color: #484848
}



.expandbutton, .expandbutton:link, .expandbutton:visited {
    display: inline-block;

    text-align: center;
    vertical-align: top;
    font-size: 14px;
    padding: 2px 0px 5px 0px;
    height: 20px;
    width: 20px;
    line-height: 10px;
    text-decoration: none;
    border: 0;
    right: 0;
    bottom: 0;

}

.expandbutton:hover, .expandbutton:link:hover, .expandbutton:visited:hover, .expandbutton.hover, .expandbutton:link.hover, .expandbutton:visited.hover, .expandbutton:focus, .expandbutton:link:focus, .expandbutton:visited:focus, .expandbutton.focus, .expandbutton:link.focus, .expandbutton:visited.focus {
    box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.1), inset 0 -2px 0 0 rgba(0, 0, 0, 0.2), inset 0 12px 24px 2px rgba(255, 255, 255, 0.8);
    color: #fff;
    text-decoration: none;
    transition: all linear .25s
}

.expandbutton:focus, .expandbutton:link:focus, .expandbutton:visited:focus, .expandbutton.focus, .expandbutton:link.focus, .expandbutton:visited.focus {
    outline-color: #484848
}


/*******************************************************************************
BUTTONS
*******************************************************************************/















.button, .button:link, .button:visited {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    -moz-border-radius: .25em;
    border-radius: .25em;
    box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.1), inset 0 -2px 0 0 rgba(0, 0, 0, 0.2);
    background-color: #3c88cc;
    background-color: #276195;
    background-repeat: repeat-x;
    background-image: -khtml-gradient(linear, left top, left bottom, from(#3c88cc), to(#276195));
    background-image: -moz-linear-gradient(#3c88cc, #276195);
    background-image: -ms-linear-gradient(#3c88cc, #276195);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3c88cc), color-stop(100%, #276195));
    background-image: -webkit-linear-gradient(#3c88cc, #276195);
    background-image: -o-linear-gradient(#3c88cc, #276195);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#3c88cc', endColorstr='#276195', GradientType=0)";
    background-image: linear-gradient(#3c88cc, #276195);
    color: #fff;
    text-align: center;
    font-size: 14px;
    padding: 0 20px;
    height: 40px;
    line-height: 40px;
    text-decoration: none;
    min-width: 100px;
    border: 0;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
    font-family: 'Open Sans', sans-serif;
    -webkit-transition: all linear .25s;
    -moz-transition: all linear .25s;
    -o-transition: all linear .25s;
    -ms-transition: all linear .25s;
    transition: all linear .25s
}

.button:hover, .button:link:hover, .button:visited:hover, .button.hover, .button:link.hover, .button:visited.hover, .button:focus, .button:link:focus, .button:visited:focus, .button.focus, .button:link.focus, .button:visited.focus {
    -webkit-box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.1), inset 0 -2px 0 0 rgba(0, 0, 0, 0.2), inset 0 12px 24px 2px #3089d8;
    -moz-box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.1), inset 0 -2px 0 0 rgba(0, 0, 0, 0.2), inset 0 12px 24px 2px #3089d8;
    box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.1), inset 0 -2px 0 0 rgba(0, 0, 0, 0.2), inset 0 12px 24px 2px #3089d8;
    color: #fff;
    text-decoration: none;
    -webkit-transition: all linear .25s;
    -moz-transition: all linear .25s;
    -o-transition: all linear .25s;
    -ms-transition: all linear .25s;
    transition: all linear .25s
}

.button:focus, .button:link:focus, .button:visited:focus, .button.focus, .button:link.focus, .button:visited.focus {
    outline-color: #484848
}

.button:active, .button:link:active, .button:visited:active, .button.active, .button:link.active, .button:visited.active {
    -webkit-box-shadow: inset 0 2px 0 0 rgba(0, 0, 0, 0.2), inset 0 12px 24px 6px rgba(0, 0, 0, 0.2), inset 0 0 2px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0 2px 0 0 rgba(0, 0, 0, 0.2), inset 0 12px 24px 6px rgba(0, 0, 0, 0.2), inset 0 0 2px 2px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 2px 0 0 rgba(0, 0, 0, 0.2), inset 0 12px 24px 6px rgba(0, 0, 0, 0.2), inset 0 0 2px 2px rgba(0, 0, 0, 0.2);
    color: #fff;
    text-decoration: none;
    -webkit-transition: all linear .25s;
    -moz-transition: all linear .25s;
    -o-transition: all linear .25s;
    -ms-transition: all linear .25s;
    transition: all linear .25s
}

.button.insensitive, .button:link.insensitive, .button:visited.insensitive, .button.insensitive:hover, .button:link.insensitive:hover, .button:visited.insensitive:hover, .button.insensitive:focus, .button:link.insensitive:focus, .button:visited.insensitive:focus {
    background-color: #9ca3aa;
    background-color: #9ca3aa;
    background-repeat: repeat-x;
    background-image: -khtml-gradient(linear, left top, left bottom, from(#bfc7cd), to(#9ca3aa));
    background-image: -moz-linear-gradient(#bfc7cd, #9ca3aa);
    background-image: -ms-linear-gradient(#bfc7cd, #9ca3aa);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #bfc7cd), color-stop(100%, #9ca3aa));
    background-image: -webkit-linear-gradient(#bfc7cd, #9ca3aa);
    background-image: -o-linear-gradient(#bfc7cd, #9ca3aa);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#bfc7cd', endColorstr='#9ca3aa', GradientType=0)";
    background-image: linear-gradient(#bfc7cd, #9ca3aa);
    -webkit-box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.1), inset 0 -2px 0 0 rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.1), inset 0 -2px 0 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.1), inset 0 -2px 0 0 rgba(0, 0, 0, 0.2);
    color: #eee
}

.button-green, .button-green:link, .button-green:visited {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    -moz-border-radius: .25em;
    border-radius: .25em;
    box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.1), inset 0 -2px 0 0 rgba(0, 0, 0, 0.2);
    background-color: #3c88cc;
    background-color: #276195;
    background-repeat: repeat-x;
    background-image: -khtml-gradient(linear, left top, left bottom, from(#3c88cc), to(#276195));
    background-image: -moz-linear-gradient(#3c88cc, #276195);
    background-image: -ms-linear-gradient(#3c88cc, #276195);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3c88cc), color-stop(100%, #276195));
    background-image: -webkit-linear-gradient(#3c88cc, #276195);
    background-image: -o-linear-gradient(#3c88cc, #276195);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#3c88cc', endColorstr='#276195', GradientType=0)";
    background-image: linear-gradient(#3c88cc, #276195);
    color: #fff;
    text-align: center;
    font-size: 14px;
    padding: 0 20px;
    height: 40px;
    line-height: 40px;
    text-decoration: none;
    min-width: 100px;
    border: 0;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
    font-family: 'Open Sans', sans-serif;
    -webkit-transition: all linear .25s;
    -moz-transition: all linear .25s;
    -o-transition: all linear .25s;
    -ms-transition: all linear .25s;
    transition: all linear .25s;
    cursor: pointer;
    background-color: #81bc2e;
    background-color: #659324;
    background-repeat: repeat-x;
    background-image: -khtml-gradient(linear, left top, left bottom, from(#81bc2e), to(#659324));
    background-image: -moz-linear-gradient(#81bc2e, #659324);
    background-image: -ms-linear-gradient(#81bc2e, #659324);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #81bc2e), color-stop(100%, #659324));
    background-image: -webkit-linear-gradient(#81bc2e, #659324);
    background-image: -o-linear-gradient(#81bc2e, #659324);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#81bc2e', endColorstr='#659324', GradientType=0)";
    background-image: linear-gradient(#81bc2e, #659324)
}

.button-green:hover, .button-green:link:hover, .button-green:visited:hover, .button-green.hover, .button-green:link.hover, .button-green:visited.hover, .button-green:focus, .button-green:link:focus, .button-green:visited:focus, .button-green.focus, .button-green:link.focus, .button-green:visited.focus {
    -webkit-box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.1), inset 0 -2px 0 0 rgba(0, 0, 0, 0.2), inset 0 12px 24px 2px #3089d8;
    -moz-box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.1), inset 0 -2px 0 0 rgba(0, 0, 0, 0.2), inset 0 12px 24px 2px #3089d8;
    box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.1), inset 0 -2px 0 0 rgba(0, 0, 0, 0.2), inset 0 12px 24px 2px #3089d8;
    color: #fff;
    text-decoration: none;
    -webkit-transition: all linear .25s;
    -moz-transition: all linear .25s;
    -o-transition: all linear .25s;
    -ms-transition: all linear .25s;
    transition: all linear .25s
}

.button-green:focus, .button-green:link:focus, .button-green:visited:focus, .button-green.focus, .button-green:link.focus, .button-green:visited.focus {
    outline-color: #484848
}

.button-green:active, .button-green:link:active, .button-green:visited:active, .button-green.active, .button-green:link.active, .button-green:visited.active {
    -webkit-box-shadow: inset 0 2px 0 0 rgba(0, 0, 0, 0.2), inset 0 12px 24px 6px rgba(0, 0, 0, 0.2), inset 0 0 2px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0 2px 0 0 rgba(0, 0, 0, 0.2), inset 0 12px 24px 6px rgba(0, 0, 0, 0.2), inset 0 0 2px 2px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 2px 0 0 rgba(0, 0, 0, 0.2), inset 0 12px 24px 6px rgba(0, 0, 0, 0.2), inset 0 0 2px 2px rgba(0, 0, 0, 0.2);
    color: #fff;
    text-decoration: none;
    -webkit-transition: all linear .25s;
    -moz-transition: all linear .25s;
    -o-transition: all linear .25s;
    -ms-transition: all linear .25s;
    transition: all linear .25s
}

.button-green.insensitive, .button-green:link.insensitive, .button-green:visited.insensitive, .button-green.insensitive:hover, .button-green:link.insensitive:hover, .button-green:visited.insensitive:hover, .button-green.insensitive:focus, .button-green:link.insensitive:focus, .button-green:visited.insensitive:focus {
    background-color: #9ca3aa;
    background-color: #9ca3aa;
    background-repeat: repeat-x;
    background-image: -khtml-gradient(linear, left top, left bottom, from(#bfc7cd), to(#9ca3aa));
    background-image: -moz-linear-gradient(#bfc7cd, #9ca3aa);
    background-image: -ms-linear-gradient(#bfc7cd, #9ca3aa);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #bfc7cd), color-stop(100%, #9ca3aa));
    background-image: -webkit-linear-gradient(#bfc7cd, #9ca3aa);
    background-image: -o-linear-gradient(#bfc7cd, #9ca3aa);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#bfc7cd', endColorstr='#9ca3aa', GradientType=0)";
    background-image: linear-gradient(#bfc7cd, #9ca3aa);
    -webkit-box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.1), inset 0 -2px 0 0 rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.1), inset 0 -2px 0 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.1), inset 0 -2px 0 0 rgba(0, 0, 0, 0.2);
    color: #eee
}

.button-green small, .button-green:link small, .button-green:visited small {
    display: block
}

.button-green:hover, .button-green:link:hover, .button-green:visited:hover, .button-green:focus, .button-green:link:focus, .button-green:visited:focus {
    -webkit-box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.1), inset 0 -2px 0 0 rgba(0, 0, 0, 0.2), inset 0 12px 24px 2px #83c822;
    -moz-box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.1), inset 0 -2px 0 0 rgba(0, 0, 0, 0.2), inset 0 12px 24px 2px #83c822;
    box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.1), inset 0 -2px 0 0 rgba(0, 0, 0, 0.2), inset 0 12px 24px 2px #83c822
}

.button-negative, .button-negative:link, .button-negative:visited {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    -moz-border-radius: .25em;
    border-radius: .25em;
    box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.1), inset 0 -2px 0 0 rgba(0, 0, 0, 0.2);
    background-color: #3c88cc;
    background-color: #276195;
    background-repeat: repeat-x;
    background-image: -khtml-gradient(linear, left top, left bottom, from(#3c88cc), to(#276195));
    background-image: -moz-linear-gradient(#3c88cc, #276195);
    background-image: -ms-linear-gradient(#3c88cc, #276195);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3c88cc), color-stop(100%, #276195));
    background-image: -webkit-linear-gradient(#3c88cc, #276195);
    background-image: -o-linear-gradient(#3c88cc, #276195);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#3c88cc', endColorstr='#276195', GradientType=0)";
    background-image: linear-gradient(#3c88cc, #276195);
    color: #fff;
    text-align: center;
    font-size: 14px;
    padding: 0 20px;
    height: 40px;
    line-height: 40px;
    text-decoration: none;
    min-width: 100px;
    border: 0;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
    font-family: 'Open Sans', sans-serif;
    -webkit-transition: all linear .25s;
    -moz-transition: all linear .25s;
    -o-transition: all linear .25s;
    -ms-transition: all linear .25s;
    transition: all linear .25s;
    cursor: pointer;
    background-color: #a91300;
    background-color: #a91300;
    background-repeat: repeat-x;
    background-image: -khtml-gradient(linear, left top, left bottom, from(#da5132), to(#a91300));
    background-image: -moz-linear-gradient(#da5132, #a91300);
    background-image: -ms-linear-gradient(#da5132, #a91300);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #da5132), color-stop(100%, #a91300));
    background-image: -webkit-linear-gradient(#da5132, #a91300);
    background-image: -o-linear-gradient(#da5132, #a91300);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#da5132', endColorstr='#a91300', GradientType=0)";
    background-image: linear-gradient(#da5132, #a91300)
}

.button-negative:hover, .button-negative:link:hover, .button-negative:visited:hover, .button-negative.hover, .button-negative:link.hover, .button-negative:visited.hover, .button-negative:focus, .button-negative:link:focus, .button-negative:visited:focus, .button-negative.focus, .button-negative:link.focus, .button-negative:visited.focus {
    -webkit-box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.1), inset 0 -2px 0 0 rgba(0, 0, 0, 0.2), inset 0 12px 24px 2px #3089d8;
    -moz-box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.1), inset 0 -2px 0 0 rgba(0, 0, 0, 0.2), inset 0 12px 24px 2px #3089d8;
    box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.1), inset 0 -2px 0 0 rgba(0, 0, 0, 0.2), inset 0 12px 24px 2px #3089d8;
    color: #fff;
    text-decoration: none;
    -webkit-transition: all linear .25s;
    -moz-transition: all linear .25s;
    -o-transition: all linear .25s;
    -ms-transition: all linear .25s;
    transition: all linear .25s
}

.button-negative:focus, .button-negative:link:focus, .button-negative:visited:focus, .button-negative.focus, .button-negative:link.focus, .button-negative:visited.focus {
    outline-color: #484848
}

.button-negative:active, .button-negative:link:active, .button-negative:visited:active, .button-negative.active, .button-negative:link.active, .button-negative:visited.active {
    -webkit-box-shadow: inset 0 2px 0 0 rgba(0, 0, 0, 0.2), inset 0 12px 24px 6px rgba(0, 0, 0, 0.2), inset 0 0 2px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0 2px 0 0 rgba(0, 0, 0, 0.2), inset 0 12px 24px 6px rgba(0, 0, 0, 0.2), inset 0 0 2px 2px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 2px 0 0 rgba(0, 0, 0, 0.2), inset 0 12px 24px 6px rgba(0, 0, 0, 0.2), inset 0 0 2px 2px rgba(0, 0, 0, 0.2);
    color: #fff;
    text-decoration: none;
    -webkit-transition: all linear .25s;
    -moz-transition: all linear .25s;
    -o-transition: all linear .25s;
    -ms-transition: all linear .25s;
    transition: all linear .25s
}

.button-negative.insensitive, .button-negative:link.insensitive, .button-negative:visited.insensitive, .button-negative.insensitive:hover, .button-negative:link.insensitive:hover, .button-negative:visited.insensitive:hover, .button-negative.insensitive:focus, .button-negative:link.insensitive:focus, .button-negative:visited.insensitive:focus {
    background-color: #9ca3aa;
    background-color: #9ca3aa;
    background-repeat: repeat-x;
    background-image: -khtml-gradient(linear, left top, left bottom, from(#bfc7cd), to(#9ca3aa));
    background-image: -moz-linear-gradient(#bfc7cd, #9ca3aa);
    background-image: -ms-linear-gradient(#bfc7cd, #9ca3aa);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #bfc7cd), color-stop(100%, #9ca3aa));
    background-image: -webkit-linear-gradient(#bfc7cd, #9ca3aa);
    background-image: -o-linear-gradient(#bfc7cd, #9ca3aa);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#bfc7cd', endColorstr='#9ca3aa', GradientType=0)";
    background-image: linear-gradient(#bfc7cd, #9ca3aa);
    -webkit-box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.1), inset 0 -2px 0 0 rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.1), inset 0 -2px 0 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.1), inset 0 -2px 0 0 rgba(0, 0, 0, 0.2);
    color: #eee
}

.button-negative small, .button-negative:link small, .button-negative:visited small {
    display: block
}

.button-negative:hover, .button-negative:link:hover, .button-negative:visited:hover, .button-negative:focus, .button-negative:link:focus, .button-negative:visited:focus {
    -webkit-box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.1), inset 0 -2px 0 0 rgba(0, 0, 0, 0.2), inset 0 12px 24px 2px #e64926;
    -moz-box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.1), inset 0 -2px 0 0 rgba(0, 0, 0, 0.2), inset 0 12px 24px 2px #e64926;
    box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.1), inset 0 -2px 0 0 rgba(0, 0, 0, 0.2), inset 0 12px 24px 2px #e64926
}

.button-white, .button-white:link, .button-white:visited {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    -moz-border-radius: .25em;
    border-radius: .25em;
    box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.1), inset 0 -2px 0 0 rgba(0, 0, 0, 0.2);
    background-color: #3c88cc;
    background-color: #276195;
    background-repeat: repeat-x;
    background-image: -khtml-gradient(linear, left top, left bottom, from(#3c88cc), to(#276195));
    background-image: -moz-linear-gradient(#3c88cc, #276195);
    background-image: -ms-linear-gradient(#3c88cc, #276195);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3c88cc), color-stop(100%, #276195));
    background-image: -webkit-linear-gradient(#3c88cc, #276195);
    background-image: -o-linear-gradient(#3c88cc, #276195);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#3c88cc', endColorstr='#276195', GradientType=0)";
    background-image: linear-gradient(#3c88cc, #276195);
    color: #fff;
    text-align: center;
    font-size: 14px;
    padding: 0 20px;
    height: 40px;
    line-height: 40px;
    text-decoration: none;
    min-width: 100px;
    border: 0;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
    font-family: 'Open Sans', sans-serif;
    -webkit-transition: all linear .25s;
    -moz-transition: all linear .25s;
    -o-transition: all linear .25s;
    -ms-transition: all linear .25s;
    transition: all linear .25s;
    cursor: pointer;
    border: 1px solid #d0d0d0;
    background: #fff;
    padding: 0 10.5px;
    color: #484848;
    font-size: 10.5px;
    height: 20px;
    line-height: 20px;
    text-shadow: none;
    -webkit-box-shadow: 0 0 12px rgba(230, 230, 230, 0.2) inset, 0 -2px #e8e8e8 inset;
    -moz-box-shadow: 0 0 12px rgba(230, 230, 230, 0.2) inset, 0 -2px #e8e8e8 inset;
    box-shadow: 0 0 12px rgba(230, 230, 230, 0.2) inset, 0 -2px #e8e8e8 inset;
    -moz-border-radius: 6px;
    border-radius: 6px;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false)
}

.button-white:hover, .button-white:link:hover, .button-white:visited:hover, .button-white.hover, .button-white:link.hover, .button-white:visited.hover, .button-white:focus, .button-white:link:focus, .button-white:visited:focus, .button-white.focus, .button-white:link.focus, .button-white:visited.focus {
    -webkit-box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.1), inset 0 -2px 0 0 rgba(0, 0, 0, 0.2), inset 0 12px 24px 2px #3089d8;
    -moz-box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.1), inset 0 -2px 0 0 rgba(0, 0, 0, 0.2), inset 0 12px 24px 2px #3089d8;
    box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.1), inset 0 -2px 0 0 rgba(0, 0, 0, 0.2), inset 0 12px 24px 2px #3089d8;
    color: #fff;
    text-decoration: none;
    -webkit-transition: all linear .25s;
    -moz-transition: all linear .25s;
    -o-transition: all linear .25s;
    -ms-transition: all linear .25s;
    transition: all linear .25s
}

.button-white:focus, .button-white:link:focus, .button-white:visited:focus, .button-white.focus, .button-white:link.focus, .button-white:visited.focus {
    outline-color: #484848
}

.button-white:active, .button-white:link:active, .button-white:visited:active, .button-white.active, .button-white:link.active, .button-white:visited.active {
    -webkit-box-shadow: inset 0 2px 0 0 rgba(0, 0, 0, 0.2), inset 0 12px 24px 6px rgba(0, 0, 0, 0.2), inset 0 0 2px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0 2px 0 0 rgba(0, 0, 0, 0.2), inset 0 12px 24px 6px rgba(0, 0, 0, 0.2), inset 0 0 2px 2px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 2px 0 0 rgba(0, 0, 0, 0.2), inset 0 12px 24px 6px rgba(0, 0, 0, 0.2), inset 0 0 2px 2px rgba(0, 0, 0, 0.2);
    color: #fff;
    text-decoration: none;
    -webkit-transition: all linear .25s;
    -moz-transition: all linear .25s;
    -o-transition: all linear .25s;
    -ms-transition: all linear .25s;
    transition: all linear .25s
}

.button-white.insensitive, .button-white:link.insensitive, .button-white:visited.insensitive, .button-white.insensitive:hover, .button-white:link.insensitive:hover, .button-white:visited.insensitive:hover, .button-white.insensitive:focus, .button-white:link.insensitive:focus, .button-white:visited.insensitive:focus {
    background-color: #9ca3aa;
    background-color: #9ca3aa;
    background-repeat: repeat-x;
    background-image: -khtml-gradient(linear, left top, left bottom, from(#bfc7cd), to(#9ca3aa));
    background-image: -moz-linear-gradient(#bfc7cd, #9ca3aa);
    background-image: -ms-linear-gradient(#bfc7cd, #9ca3aa);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #bfc7cd), color-stop(100%, #9ca3aa));
    background-image: -webkit-linear-gradient(#bfc7cd, #9ca3aa);
    background-image: -o-linear-gradient(#bfc7cd, #9ca3aa);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#bfc7cd', endColorstr='#9ca3aa', GradientType=0)";
    background-image: linear-gradient(#bfc7cd, #9ca3aa);
    -webkit-box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.1), inset 0 -2px 0 0 rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.1), inset 0 -2px 0 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.1), inset 0 -2px 0 0 rgba(0, 0, 0, 0.2);
    color: #eee
}

.button-white small, .button-white:link small, .button-white:visited small {
    display: block
}

.button-white:hover, .button-white:link:hover, .button-white:visited:hover, .button-white:focus, .button-white:link:focus, .button-white:visited:focus {
    color: #484848;
    -webkit-box-shadow: 0 0 12px rgba(230, 230, 230, 0.2) inset, 0 -2px #e8e8e8 inset;
    -moz-box-shadow: 0 0 12px rgba(230, 230, 230, 0.2) inset, 0 -2px #e8e8e8 inset;
    box-shadow: 0 0 12px rgba(230, 230, 230, 0.2) inset, 0 -2px #e8e8e8 inset
}

.button-white.selected {
    background: #d7d5d5;
    border-color: #bcb9b9;
    text-shadow: 0 1px #fff;
    -webkit-box-shadow: 0 1px 1px rgba(255, 255, 255, 0.75), 0 1px 3px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow: 0 1px 1px rgba(255, 255, 255, 0.75), 0 1px 3px rgba(0, 0, 0, 0.1) inset;
    box-shadow: 0 1px 1px rgba(255, 255, 255, 0.75), 0 1px 3px rgba(0, 0, 0, 0.1) inset
}

.button, .button-white {
    cursor: pointer
}

.button small, .button-white small {
    display: block
}

.button.arrow span, .button-blue.arrow span, .button-white.arrow span {
    display: block;
    margin-right: -12px;
    padding: 0 30px 0 0;
    background: url(/media/img/sandstone/buttons/arrow-go-r.png) right center no-repeat
}

.button-sand, .button-sand:link, .button-sand:visited {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    -moz-border-radius: .25em;
    border-radius: .25em;
    box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.1), inset 0 -2px 0 0 rgba(0, 0, 0, 0.2);
    background-color: #3c88cc;
    background-color: #276195;
    background-repeat: repeat-x;
    background-image: -khtml-gradient(linear, left top, left bottom, from(#3c88cc), to(#276195));
    background-image: -moz-linear-gradient(#3c88cc, #276195);
    background-image: -ms-linear-gradient(#3c88cc, #276195);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3c88cc), color-stop(100%, #276195));
    background-image: -webkit-linear-gradient(#3c88cc, #276195);
    background-image: -o-linear-gradient(#3c88cc, #276195);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#3c88cc', endColorstr='#276195', GradientType=0)";
    background-image: linear-gradient(#3c88cc, #276195);
    color: #fff;
    text-align: center;
    font-size: 14px;
    padding: 0 20px;
    height: 40px;
    line-height: 40px;
    text-decoration: none;
    min-width: 100px;
    border: 0;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
    font-family: 'Open Sans', sans-serif;
    -webkit-transition: all linear .25s;
    -moz-transition: all linear .25s;
    -o-transition: all linear .25s;
    -ms-transition: all linear .25s;
    transition: all linear .25s;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.1);
    background-repeat: repeat-x;
    background-image: -khtml-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.1)), to(rgba(0, 0, 0, 0.1)));
    background-image: -moz-linear-gradient(rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.1));
    background-image: -ms-linear-gradient(rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.1));
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0.1)), color-stop(100%, rgba(0, 0, 0, 0.1)));
    background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.1));
    background-image: -o-linear-gradient(rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.1));
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='rgba(255, 255, 255, 0.1)', endColorstr='rgba(0, 0, 0, 0.1)', GradientType=0)";
    background-image: linear-gradient(rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.1));
    background-color: transparent;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.4) rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.5) inset, 1px 0 0 0 rgba(255, 255, 255, 0.5) inset, -1px 0 0 0 rgba(255, 255, 255, 0.5) inset, 0 -2px 0 0 rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.5) inset, 1px 0 0 0 rgba(255, 255, 255, 0.5) inset, -1px 0 0 0 rgba(255, 255, 255, 0.5) inset, 0 -2px 0 0 rgba(0, 0, 0, 0.1) inset;
    box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.5) inset, 1px 0 0 0 rgba(255, 255, 255, 0.5) inset, -1px 0 0 0 rgba(255, 255, 255, 0.5) inset, 0 -2px 0 0 rgba(0, 0, 0, 0.1) inset;
    -moz-border-radius: 8px;
    border-radius: 8px;
    color: #0096dd;
    text-shadow: none
}

.button-sand:hover, .button-sand:link:hover, .button-sand:visited:hover, .button-sand.hover, .button-sand:link.hover, .button-sand:visited.hover, .button-sand:focus, .button-sand:link:focus, .button-sand:visited:focus, .button-sand.focus, .button-sand:link.focus, .button-sand:visited.focus {
    -webkit-box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.1), inset 0 -2px 0 0 rgba(0, 0, 0, 0.2), inset 0 12px 24px 2px #3089d8;
    -moz-box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.1), inset 0 -2px 0 0 rgba(0, 0, 0, 0.2), inset 0 12px 24px 2px #3089d8;
    box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.1), inset 0 -2px 0 0 rgba(0, 0, 0, 0.2), inset 0 12px 24px 2px #3089d8;
    color: #fff;
    text-decoration: none;
    -webkit-transition: all linear .25s;
    -moz-transition: all linear .25s;
    -o-transition: all linear .25s;
    -ms-transition: all linear .25s;
    transition: all linear .25s
}

.button-sand:focus, .button-sand:link:focus, .button-sand:visited:focus, .button-sand.focus, .button-sand:link.focus, .button-sand:visited.focus {
    outline-color: #484848
}

.button-sand:active, .button-sand:link:active, .button-sand:visited:active, .button-sand.active, .button-sand:link.active, .button-sand:visited.active {
    -webkit-box-shadow: inset 0 2px 0 0 rgba(0, 0, 0, 0.2), inset 0 12px 24px 6px rgba(0, 0, 0, 0.2), inset 0 0 2px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0 2px 0 0 rgba(0, 0, 0, 0.2), inset 0 12px 24px 6px rgba(0, 0, 0, 0.2), inset 0 0 2px 2px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 2px 0 0 rgba(0, 0, 0, 0.2), inset 0 12px 24px 6px rgba(0, 0, 0, 0.2), inset 0 0 2px 2px rgba(0, 0, 0, 0.2);
    color: #fff;
    text-decoration: none;
    -webkit-transition: all linear .25s;
    -moz-transition: all linear .25s;
    -o-transition: all linear .25s;
    -ms-transition: all linear .25s;
    transition: all linear .25s
}

.button-sand.insensitive, .button-sand:link.insensitive, .button-sand:visited.insensitive, .button-sand.insensitive:hover, .button-sand:link.insensitive:hover, .button-sand:visited.insensitive:hover, .button-sand.insensitive:focus, .button-sand:link.insensitive:focus, .button-sand:visited.insensitive:focus {
    background-color: #9ca3aa;
    background-color: #9ca3aa;
    background-repeat: repeat-x;
    background-image: -khtml-gradient(linear, left top, left bottom, from(#bfc7cd), to(#9ca3aa));
    background-image: -moz-linear-gradient(#bfc7cd, #9ca3aa);
    background-image: -ms-linear-gradient(#bfc7cd, #9ca3aa);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #bfc7cd), color-stop(100%, #9ca3aa));
    background-image: -webkit-linear-gradient(#bfc7cd, #9ca3aa);
    background-image: -o-linear-gradient(#bfc7cd, #9ca3aa);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#bfc7cd', endColorstr='#9ca3aa', GradientType=0)";
    background-image: linear-gradient(#bfc7cd, #9ca3aa);
    -webkit-box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.1), inset 0 -2px 0 0 rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.1), inset 0 -2px 0 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.1), inset 0 -2px 0 0 rgba(0, 0, 0, 0.2);
    color: #eee
}

.button-sand small, .button-sand:link small, .button-sand:visited small {
    display: block
}

.button-sand:hover, .button-sand:link:hover, .button-sand:visited:hover, .button-sand:focus, .button-sand:link:focus, .button-sand:visited:focus {
    -webkit-box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.1), inset 0 -2px 0 0 rgba(0, 0, 0, 0.2), inset 0 12px 24px 2px #fff;
    -moz-box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.1), inset 0 -2px 0 0 rgba(0, 0, 0, 0.2), inset 0 12px 24px 2px #fff;
    box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.1), inset 0 -2px 0 0 rgba(0, 0, 0, 0.2), inset 0 12px 24px 2px #fff;
    color: #00539f
}

/*

*/

#nav-main-menu li {
      display: block;
      float: none;
      margin: 0 10px;
      border-bottom: 1px solid #f2f2f2
  }

  #nav-main-menu li:last-child {
      border: 0
  }

  #nav-main-menu a {
      cursor: pointer;
      display: block;
      text-transform: none;
      padding: 12px 35px 12px 10px;
      margin: 0 -10px
  }

  #nav-main-menu a.submenu-item {
      background: 94% 50% no-repeat url(/media/img/sandstone/arrow-go.png)
  }

  #nav-main-menu a:hover, #nav-main-menu a:focus, #nav-main-menu a:active {
      color: #fff;
      text-decoration: none;
      text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.25);
      background-color: #247ac1;
      background-position: 94% 50%;
      background-repeat: no-repeat;
      background-image: -moz-linear-gradient(#43a6e2, #247ac1);
      background-image: -ms-linear-gradient(#43a6e2, #247ac1);
      background-image: -o-linear-gradient(#43a6e2, #247ac1);
      background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #43a6e2), color-stop(100%, #247ac1));
      background-image: -webkit-linear-gradient(#43a6e2, #247ac1);
      background-image: linear-gradient(#43a6e2, #247ac1)
  }

  #nav-main-menu a.submenu-item:hover, #nav-main-menu a.submenu-item:focus, #nav-main-menu a.submenu-item:active {
      background-image: url(/media/img/sandstone/arrow-go.png), -moz-linear-gradient(#43a6e2, #247ac1);
      background-image: url(/media/img/sandstone/arrow-go.png), -ms-linear-gradient(#43a6e2, #247ac1);
      background-image: url(/media/img/sandstone/arrow-go.png), -o-linear-gradient(#43a6e2, #247ac1);
      background-image: url(/media/img/sandstone/arrow-go.png), -webkit-gradient(linear, left top, left bottom, color-stop(0%, #43a6e2), color-stop(100%, #247ac1));
      background-image: url(/media/img/sandstone/arrow-go.png), -webkit-linear-gradient(#43a6e2, #247ac1);
      background-image: url(/media/img/sandstone/arrow-go.png), linear-gradient(#43a6e2, #247ac1)
  }

  #nav-main-menu li.first>a {
      border-radius: 10px 10px 0 0
  }

  #nav-main-menu li.last>a {
      border-radius: 0 0 10px 10px
  }

  #nav-main-menu {
      background: #fff;
      position: absolute;
      z-index: 99;
      width: 200px;
      margin: 15px 0 0 -10px;
      left: -999em;
      top: 35px;
      overflow: visible;
      -moz-border-radius: 10px;
      border-radius: 10px;
      -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.5);
      -moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.5);
      box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.5)
  }

  #nav-main:hover #nav-main-menu, #nav-main-menu:target {
      left: auto
  }

  .js #nav-main-menu {
      left: auto;
      display: none
  }

  #nav-main-menu:before {
      content: "";
      display: block;
      width: 28px;
      height: 10px;
      background: no-repeat url(/media/img/sandstone/menu-point.png);
      position: absolute;
      left: 12px;
      top: -10px
  }


